
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.tab-btn {
    transition: all 0.2s ease-in-out;
}


.job-card {
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.job-card:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);
}
